body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1143px;
    margin: 0 auto;
    padding: 0 15px;
    color: #2B3541;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 27px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 57.5%;
}
.header-logo {
    display: block;
    background-image: url(../images/svg/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    gap: 54px;
}
.header-nav a {
    font-size: 18px;
    text-decoration: none;
    color: #2B3541;
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;
    transition: .3s;
}
.header-nav a:hover {
    border-bottom: 1px solid #2B3541;
}
.social-icons {    
    gap: 30px;
    display: flex;
    padding-left: 0;
    list-style-type: none;
}
.social-icons-IN {
    background-image: url(../images/svg/IN.svg);
}
.social-icons-FB {
    background-image: url(../images/svg/FB.svg);
}
.social-icons a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.social-icons a:hover {
    transform: scale(1.2);
    opacity: 1;
}

/* Главная */
.content {
    display: flex;
    align-items: center;
    position: relative;
}
.button {
    background-image: url(../images/svg/arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 52px;
    height: 55px;
    left: 0;
    bottom: 0;
}
.content-box {
    flex: 0 0 676px;
    color: #2B3541;
}
.content-box a {
    color: #2B3541;
}
.content-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 125%;
}
.content-title-more {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 23px;
}
.content-text{
    width: 297px;
    padding-left: 90px;
}
.text{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 56px;
}
.content-text-link{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    background-color: #FBF138;
    padding: 22px 30px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.2s;
}
.content-text-link:hover{
    background-color: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
}
.visual {
    display: flex;    
}
.visual-bg {
    width: 464px;
    height: 850px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
}
.visual img {
    width: 996px;
    height: 810px;
    position: absolute;
    right: -185px;
    top: 40px;
}
/* Ближайшие события */
.events {
    margin-top: 154px;
}
.section-title {
    max-width: 470px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.09px;
    margin-bottom: 39px;
}
.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px;
    gap: 20px;
    position: relative;
}
.events-grid__item {
    position: relative;
}
.events-grid__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);   
 }  
 .events-grid__cover:hover .events-grid__gradient{
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);  
 }
.events-grid__cover {
    overflow: hidden;
}
.marathon {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image:url(../images/maraphon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.coahc {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: url(../images/Vebinar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.yoga {
    background-image: url(../images/yoga.png);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.events-grid__time {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
}
.events-grid__table {
    padding: 30px;
}
.naevents-grid__title {
    font-size: 28px;
    font-weight: 700px;
    line-height: 125%;
}
.events-grid__footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    bottom: 0;
    align-items: end;
}
.events-grid__icon {
    width: 30px;
    height: 30px;
    background-image: url(../images/svg/add.svg);
    background-repeat: no-repeat;
    display: none;
}
.events-grid__text {
    margin: 0;
    right: 0;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding: 10px 20px;
    background-color: #FBF138;
}
.open-modal {
    position: absolute;
    top: 185px;
    left: 30px;
    opacity: 0;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FBF138;
    text-transform: uppercase;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    padding: 20px 49px;
    transition: all .5s ease;
}
.events-grid__item:hover .open-modal {
    opacity: 1;
    cursor: pointer;
    z-index: 1;
    transition: all .5s ease;  
}

/* Расписание тренировок */
.table {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table h2 {
    padding-bottom: 38px;
    padding-top: 20px;
    font-size: 40px;
}
.table p {
    font-size: 28px;
    font-weight: 700;
}
.table-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 100px 300px;
    gap: 20px;
}
.timetable {
    border: 1px solid rgba(43, 53, 65, 0.5);
    padding: 20px 30px;
    position: relative;
}
.timetable:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 4;
}
.timetable:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 3;
}
.timetable:nth-child(6) {
    grid-row-start: 2;
    grid-row-end: 4;
}
.timetable-date {
    font-size: 18px;
    font-weight: 400;
    color: #010101;
    opacity: 0.7;
    text-align: right;
    padding-bottom: 85px;
}
.timetable-img-text {
    position: absolute;
    bottom: 0;
}
.timetable-text {
    font-size: 18px;
    font-weight: 700;
    padding-top: 40px;
}

.body {
    height: 65px;
    width: 65px;
}
.jump {
    height: 107px;
    width: 67px;
}
.bottle {
    height: 85px;
    width: 42px;
}
.dumbbell {
    height: 50px;
    width: 91px;
}
.heart {
    height: 61px;
    width: 65px;
}
.weight {
    height: 66px;
    width: 58px
}
.timetable:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .7) 0%, rgba(253, 249, 182, 0) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
}
/* Подпишитесь на рассылку */
.mail {
    background: #F3F3F3;
    margin-top: 160px;
}
.subscribe::before {
    content: "";
    width: 53px;
    height: 53px;
    background: #FBF138;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 58px;
    left: -30px;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.subscribe {
    margin: 0 auto;
    max-width: 587px;
    position: relative;
    z-index: 0;
    text-align: center;
    padding: 80px 0 40px;
    font-size: 40px;
}
.mail-text {
    margin: 0 auto;
    max-width: 602px;
    display: flex;
    justify-content: space-between;
}
.input {
    font-size: 18px;
    font-weight: 400;
    border: 1px solid transparent;
    padding: 19px;
    width: 310px;
}
.input:focus {
    outline: 1px solid #FBF138;
}
.mail-text button {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    background-color: #FBF138;
    padding: 22px 42px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.2s;
    border: none;
    margin-bottom: 80px;
}
.mail-text button:hover{
    background-color: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
}
.agreement label {
    font-size: 11px;
    font-weight: 400;
    color: rgba(43, 53, 65, 0.5);
}
.agreement a {
    text-decoration: none;
    color: rgba(43, 53, 65, 0.5);
}
.agreement a:hover {
    text-decoration: underline;
    color: rgba(43, 53, 65, 1);
}
.agreement {
    padding-top: 10px;
}
.checkbox:checked,
.checkbox:not(:checked) {
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
.checkbox:checked + label::before {
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: #2B3541;
    border: 2px solid #2B3541;
 }
 .checkbox:checked + label::after {
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/svg/Vector2.svg);
 }
 .checkbox:not(:checked) + label::before {
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border: 2px solid #2B3541;
 }
 .checkbox:not(:checked) + label::after {
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-position: 0 -12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/svg/Vector2.svg);
 }
 .radio:checked + label::before {
    border-radius: 100%;
 }
 /* О компании */
 .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 160px;
 }
 .about-title{
    font-size: 40px;
}
 .about-text p {
    font-size: 18px;
    font-weight: 400;
    max-width: 483px;
    padding-bottom: 57px;
    padding-top: 20px;
    line-height: 1.5;
    margin: 0;
 }
 .about-button a {
    font-weight: 700;
    font-size: 16px;
    color: #2B3541;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    background-color: #FBF138;
    padding: 22px 52px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.2s;
}
.about-button a:hover{
    background-color: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
}
.about-img {
    background-image: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%), url(../images/trainer.png);
    width: 100%;
    height: 100%;
    border: 1px solid rgba(43, 53, 65, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
}
.list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 60px;
}
.title-list{
    font-weight: 700;
}
.list-text {
    opacity: 0.6;
    font-weight: 400;
}
/* footer */
.footer {
    margin-top: 170px;
    background: #F3F3F3;
}
.footer-wrap {
    padding-top: 50px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.footer-sign {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.footer-item {
    display: flex;
    align-items: center;
    gap: 36px;
}
.footer-social {
    display: flex;
    align-items: center;
    gap: 62px;
}
.footer-list {
    display: flex;
    list-style-type: none;
    gap: 90px;
}
.footer-list a {
    text-decoration: none;
    color: #2B3541;
    font-size: 14px;
    font-weight: 400;    
}
.footer-social-icons {
    gap: 30px;
    display: flex;
    padding-left: 0;
    list-style-type: none;
}
.footer-social-icons a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.social-icons-IN {
    background-image: url(../images/svg/IN.svg);
}
.social-icons-FB {
    background-image: url(../images/svg/FB.svg);
}
.footer-social-icons a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    transition: 0.3s;
    transform: scale(1);
}
.footer-logo {
    width: 97px;
    height: 30px;
    gap: 70px;
}
.footer-list a::after {
    content: "";
    height: 1px;
    background: transparent;
    width: 100%;
    display: block;
    margin-top: 10px;
}
.footer-list a:hover::after {
    background: #2B3541;
}
.web a::before {
    content: "";
    position: absolute;
    background-color: #FBF138;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: block;
    bottom: 7px;
    right: 131px;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.web a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #2B3541;
    position: relative;
    z-index: 0;
}
.footer-text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(43, 53, 65, 0.3);
}
.footer-text a {
    text-decoration: none;
    color: rgba(43, 53, 65, 0.3);
}
.footer-text a:hover {
    text-decoration: underline;
    color: rgba(43, 53, 65, 1);
}
/* Modal */
    .burger {
        width: 29px;
        height: 22px;
        background-image: url(../images/burger.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .modal {
        background-color: #F3F3F3;
        max-width: 587px;
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: .5s;
    }
    .modal-logo {
        width: 78px; 
        height: 24px; 
        padding-top: 29px;
        padding-left: 10px;
    }
    .modal .header-nav {
        flex-direction: column;
        padding: 40px 10px;
    }
    .modal .header-nav a::after {
        content: "";
        height: 1px;
        background: rgba(43, 53, 65, 0.2);
        display: block;
    }
    .modal .header-nav a:last-child {
        content: "";
        height: 1px;
        background: transparent;
        display: block;
    }
    .burger-close {
        width: 20px;
        height: 19px;
        background-image: url(../images/close.svg);
        background-size: contain;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 34px;
        right: 10px;
    }
    .modal .social-icons {
        justify-content: flex-end;
        padding-bottom: 29px;
        padding-right: 10px;
        gap: 20px;
        margin: 0;
    }
/* Responsive */
@media (min-width: 1001px) {
    .footer-social-media {
        display: none;
    }
}
@media (min-width: 1001px) {
    .header-burger{
        display: none;
    }
}
@media (max-width: 1000px) {
    .button {
        display: none;
    }
    .container {
        padding: 9px;
    }
    .header {
        margin-top: 31px;
        margin-bottom: 12px;
        padding: 0;
    }
    .header-logo {
        width: 78px;
        height: 24px;
        background-size: contain;
    }
    nav {
        display: none;
    }
    .header-item {
        flex-basis: 22%;
    }
    .social-icons {
        gap: 19px;
    }
    .visual img {
        width: 40vw;
        height: 33vw;
        right: 0;
        top: 95px;
    }
    .content-box {
        flex: 0 0 359px;
    }
    .content-title {
        font-size: 26px;
        padding-top: 14px
    }
    .content-title-more {
        font-size: 26px;
        padding-top: 26px;
        padding-bottom: 18px;
        margin: 0;
    }
    .text {
        font-size: 16px;
        padding-bottom: 65px;
        margin: 0;
    }
    .content {
        align-items: flex-start;
        justify-content: space-between;
    }
    .content-text {
        padding: 0;
        width: 255px;
    }
    .visual-bg {
        width: 36vw;
        height: 45vw;
    }
    .button {
        width: 40px;
        height: 40px;
        background-size: contain;
    }
    
    /* ближайшие события*/
    .events {
        margin-top: 40px;
    }
    .section-title {
        font-size: 26px;
    }
    .yoga {
        background-image: url(../images/yoga2.png); 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 309px 336px;
        gap: 10px 20px;
    }
    .yoga-mobile{
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    .events-grid__time{
        font-size: 12px;
    }
    .events-grid__title{
        font-size: 16px;
    }
    .events-grid__footer{
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .events-grid__text{
        font-size: 12px;
        padding: 6px 15px;
    }
    .table p {
        font-size: 16px;
    }
    .events-grid__icon{
        display: block;
        cursor: pointer;
    }
    .open-modal {
        display: none;
    }
    /* paсписание тренировок */
    .table {
        margin-top: 0;
    }    
    .table h2 {
        font-size: 26px;
    }
/* подпитесь на рассылку */

    .subscribe {
        padding-bottom: 54px;
        max-width: 200px;
        margin: 0 auto;
        padding-top: 60px;
        font-size: 26px;
    }
    .subscribe::before {
        width: 31px;
        height: 31px;
        top: 50px;
        left: -14px;
    }
    .email {
        margin: 0 auto;
    }
    .email input {
        max-width: 300px;
    }
    .mail-text {
        max-width: 340px;
        flex-direction: column;
    }
    .agreement {
        padding-top: 14px;
    }
    .mail-text button {
        padding: 22px 100px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .mail {
        margin-top: 90px;
    }
    /* о компании */
    .about-title{
        font-size: 26px;
    }
    .about-text p {
        font-size: 16px;
    }
    .list-text {
        font-size: 16px;
    }
    .about {
        gap: 36px;
        margin-top: 90px;
    }
    .about-img {
        width: 372px;
        height: 227px;
        background-size: cover;
    }
    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* footer */
    
    .footer {
        margin-top: 94px;
    }
    .footer-social {
        display: none;
    }
    .footer-social-media {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 33px;
    }
    .footer-social-icons {
        gap: 23px; 
    }
    .footer-list {
        gap: 25px;
    }
    .footer-box{
        display: inline;
    }
    .footer-item {
        justify-content: space-between;
    }
    .web a {
        font-size: 12px;
    }
    .footer-list a {
        font-size: 12px
    }
    .footer-text {
        font-size: 10px;
    }
    .web a::before {
        width: 20px;
        height: 20px;
        bottom: 6px;
        right: 97px;
    }
}
/* Расписание тренировок */
@media (max-width: 900px) {
    .table-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .timetable:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .timetable:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .timetable:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .timetable:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .timetable:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .timetable:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .timetable-date{
        font-size: 16px;
    }
    .timetable-text{
        font-size: 16px;
        padding-top: 0px;
    }
}
@media (max-width: 720px) {

    .header-item {
        flex-basis: 50%;
    }
    .visual-bg {
        width: 30vw;
        height: 50vw;
    }
    .content-title {
        font-size: 25px;
    }
    .content-text {
        width: 340px;
    }
    /* ближайшие события */
    .events-grid__icon {
        width: 24px;
        height: 24px;
    }
    .section-title {
        font-size: 26px;
    }

    /*о компании*/
    .about {
        display: flex;
    }
    .about-img {
        display: none;
    }
    .list {
        display: flex;
        flex-direction: column;
        max-width: 223px;
        gap: 0;
    }
    /* footer */
    .footer-item {
        display: block;
    }
    .footer-logo {
        display: block;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .footer-list {
        padding: 0;
        justify-content: space-between;
    }
    .footer-social-media {
        justify-content: space-between;
    }
    .footer-sign {
        display: block;
        text-align: center;
    }

}
@media (max-width: 550px){
    /* Ближайшие события */
    .events-grid {
        gap: 10px;
    }
    .yoga {
        background-image: url(../images/yoga3.png); 
    }

    /* расписание тренировок*/
    .content {
        flex-direction: column;
        gap: 65px;
    }
    .visual-bg {
        width: 92vw;
        height: 59vw;
    }
    .visual img {
        width: 93vw;
        height: 77vw;
        top: 344px;
    }
    .table h2{
        padding: 0;
    }
    .content-text-link {
        box-shadow: none;
        padding: 20px 66px;
    }
    .visual {
        flex-direction: column;
    }
    .table-grid {
        display: flex;
        flex-direction: column;
    }
    .body {
        height: 39px;
        width: 39px;
    }
    .jump {
        height: 53px;
        width: 34px;
    }
    .bottle {
        height: 45px;
        width: 23px;
    }
    .dumbbell {
        height: 25px;
        width: 46px;
    }
    .heart {
        height: 37px;
        width: 39px;
    }
    .weight {
        height: 40px;
        width: 35px;
    }
    .timetable-img-text {
        display: flex;
        gap: 17px;
    }
    .timetable-date {
        padding-bottom: 40px;
    }
    .mail {
        padding: 10px;
    }
    }